*{
    margin: 0;

}

body{
    background-color: lightgrey;
}

header{
    background-color: white;
    vertical-align: middle;
}

#button1{
    border-radius: 10%;
    padding: 15px;
    width: 40px;
    border-width: 1px;
    background-color: lightskyblue;
    color: white;
}
#button2{
    border-radius: 10%;
    padding: 15px;
    width: 40px;
    border-width: 1px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

hr{
    margin-top: 30px;
}

h1 {
    display: inline-block;
    font-size: 2.7em;
    font-weight: 700;
    line-height: 80px;
    height:80px;
    font-family: sans-serif;
}
  
.greenlight::before{
    content: ' \2714';
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid lightgreen;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 20px;
    color: lightgreen;
}

.redlight::before{
    content: ' \2718';
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 20px;
    color: red;
}

.container {
    width: 70%;
    height: 70%;
    padding: 50px;
    background-color: black;
    border-radius: 10px;
    background: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

.activity{
      display: block;
      font-size: 2em;
  }

.skybluelabel{
      background-color: skyblue;
      padding: 5px;
      border-radius: 18%;
      color: white;
  }

.purplelabel{
    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 18%;
    color: white;
}

.greenlabel{
    background-color: green;
    border-radius: 18%;
    padding: 5px;
    color: white;
}

.orangelabel{
    background-color: orange;
    padding: 5px;
    border-radius: 18%;
    color: white;
}

.limelabel{
    background-color: limegreen;
    padding: 5px;
    border-radius: 18%;
    color: white;
}

.pinklabel{
    background-color: pink;
    padding: 5px;
    border-radius: 18%;
    color: white;
}

p{
     padding: 5px 0;
  }